<?php
	include($this->_base_name . '/inc/framework_header.html');
?>


<!-- 面包屑 { -->
<?php
	include($this->_base_name . '/inc/crumbs.html');
?>
<!-- } 面包屑 -->


<!-- right container { -->
<div class="right-container" id="J_container_right">
    <div class="container">
        <!-- 横向菜单 { -->
        <?php
           $nav['btns'] = array('<a href="/manage/admin/admin_add" class="button button-blue">添加管理员</a>');
            include($this->_base_name . '/inc/cross_menu.html');
        ?>
        <!-- } 横向菜单 -->

        <!-- forms { -->
        <form class="pt10 pb10 clearfix" method="get" action="" id="search_form">
            <div class="fl col-label px-w-60 lh-32">人员编号</div>
            <div class="fl px-w-200">
                <input type="text" class="fl input px-w-150" value="<?php echo $this->param['id'];?>" name="id">
            </div>

            <div class="fl col-label px-w-60 lh-32">人员名称</div>
            <div class="fl px-w-200">
                <input type="text" class="fl input px-w-150" value="<?php echo $this->param['username'];?>" name="username">
            </div>

            <div class="fl px-w-30">
                <a href="javascript:document:search_form.submit();" class="button button-blue">搜索</a>
            </div>
        </form>
        <!-- } forms -->

        <!-- table { -->
        <div class="table-container pt-w-100">
            <div class="table-head">
                <div class="row clearfix">
                    <div class="col pt-w-10 tc">人员编号</div>
                    <div class="col pt-w-10 tc">人员名称</div>
                    <div class="col pt-w-10 tc">登录次数</div>
                    <div class="col pt-w-20 tc">最后登录时间</div>
                    <div class="col pt-w-20 tc">最后登录IP</div>
                    <div class="col pt-w-10 tc">排序</div>
                    <div class="col pt-w-20 tc">操作</div>
                </div>
            </div>
            <div class="table-body">
                <?php foreach($this->admin_list as $list){ ?>
                <div class="row clearfix">
                    <div class="col pt-w-10  tc"><?php echo $list['id'];?></div>
                    <div class="col pt-w-10  tc"><?php echo $list['username'];?></div>
                    <div class="col pt-w-10  tc"><?php echo $list['login_num'];?></div>
                    <div class="col pt-w-20  tc"><?php echo ($list['last_login_time'])?date("Y-m-d H:i:s",$list['last_login_time']):'';?></div>
                    <div class="col pt-w-20  tc"><?php echo $list['last_login_ip'];?></div>
                    <div class="col pt-w-10  tc"><?php echo $list['sort_id'];?></div>
                    <div class="col pt-w-20 tc">
                        <a href="/manage/admin/admin_edit?id=<?php echo $list['id']; ?>  " class="button button-blue <?php if($list['id']==1001){ ?>mt5 <?php } ?>">编辑</a>
                        <?php if($list['id']!=1001){ ?><a href="/manage/admin/admin_del?id=<?php echo $list['id']; ?>" class="button button-gray" onclick="return confirm('确认删除？');">删除</a><?php } ?>
                    </div>
                </div>
                <?php } ?>
            </div>
        </div>
        <!-- } table -->

        <!-- 分页 { -->
        <div class="page">
            <div class="page-view">
                <?php echo $this->page; ?>
            </div>
        </div>
        <!-- } 分页 -->

    </div>
</div>
<!-- } right container -->


<?php
	include($this->_base_name . '/inc/framework_footer.html');
?>
