<?php
	include($this->_base_name . '/inc/framework_header.html');
?>


<!-- 面包屑 { -->
<?php
	include($this->_base_name . '/inc/crumbs.html');
?>
<!-- } 面包屑 -->


<!-- right container { -->
<div class="right-container" id="J_container_right">
    <div class="container">
				<!-- 横向菜单 { -->
				<?php
					 $nav['btns'] = array('<a href="/manage/activity/category" class="button button-blue">返回列表</a>');
						 include($this->_base_name . '/inc/cross_menu.html');
				?>
				<!-- } 横向菜单 -->

        <!-- forms { -->
        <form class="forms" method="post" action="" id="form_sub">

            <div class="row clearfix">
                <div class="fl col-label pt-w-15">分类标题</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-300" name="title" value="<?php echo $this->param['title']; ?>"></div>
            </div>

            <div class="row clearfix">
                <div class="fl col-label pt-w-15">模版选择</div>
                <div class="fl pt-w-85">
                    <label class="label-ele">
                        <input class="radio" type="radio" name="template" value="1" <?php if($this->param['template']==1) {echo "CHECKED";}?>>
                        <span class="radioInput" style="margin-top: 5px; vertical-align: top;"></span>
                        <img src="/img/template_activity1.jpg" alt="">
                    </label>
                    <label class="label-ele">
                        <input class="radio" type="radio" name="template" value="2" <?php if($this->param['template']==2) {echo "CHECKED";} ?> >
                        <span class="radioInput" style="margin-top: 5px; vertical-align: top;"></span>
                        <img src="/img/template_activity2.jpg" alt="">
                    </label>
                </div>
            </div>

            <div class="row clearfix">
                <div class="fl col-label pt-w-15">排序</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-200" name="sort_id" value="<?php echo $this->param['sort_id'] ? $this->param['sort_id'] : 255; ?>"></div>
            </div>

            <div class="row clearfix">
                <div class="fl col-label pt-w-15">&nbsp;</div>
                <div class="fl pt-w-85">
                    <input type="submit" class="button button-blue" >
                    <input type="button" class="button button-gray" onclick="javascript:window.history.back(-1);" value="取消">
                </div>
            </div>
        </form>
        <!-- } forms -->


    </div>
</div>
<!-- } right container -->

<?php
	include($this->_base_name . '/inc/framework_footer.html');
?>
