<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>系统管理</title>
	<link rel="stylesheet" href="<?php echo DOMAIN_MANAGE; ?>/css/main.css" />
	<script charset="utf-8" src="<?php echo DOMAIN_MANAGE; ?>/js/jquery-3.3.1.min.js"></script>
</head>
<body>


	<!-- header { -->
	<div class="header">
		<!-- logo { -->
		<h1 class="logo"><a href="/manage"></a></h1>
		<!-- } logo -->

		<!-- shortcut { -->
		<div class="top-right clearfix">
			<ul class="fl top-shortcut clearfix">
				<!-- <li><a href="javascript:;"><i class="icon icon-set"></i><em>设置</em></a></li> -->
				<li><a href="/manage/index/logout" onclick="return confirm('确认退出？');"><i class="icon icon-logout"></i><em>退出</em></a></li>
			</ul>
		</div>
		<!-- } shortcut -->
	</div>
	<!-- } header -->


	<!-- left container { -->
	<div class="left-container" id="J_container_left">
		<div class="container">
			<ul class="nav-list" id="J_nav_list">
				<?php
					foreach($this->menu as $rs){
						if( $rs['pid'] == 0 ){
				?>
				<li>
					<a href="javascript:;" class="J_nav_btn">
						<i class="icon <?php echo $rs['menu_classname']; ?>"></i>
						<em><?php echo $rs['menu_name']; ?></em>
						<i class="arr down"></i>
					</a>
					<ul class="nav-sub none J_nav_sub">
						<?php
							foreach($rs['child'] as $rc){
								$_url = '/manage/'.$rc['controller'].'/'.$rc['action'].'/';
						?>
						<li>
							<a href="<?php echo $_url; ?>" <?php if($this->menu_id == $rc['id']) echo 'class="on"'; ?>>
								<?php echo $rc['menu_name']; ?>
								<i class="arr right"></i>
							</a>
						</li>
						<?php } ?>
					</ul>
				</li>
				<?php
						}
					}
				?>
			</ul>
		</div>

		<!-- 收缩栏 { -->
		<div class="ctrl">
			<a href="javascript:;" id="J_container_ctrl" data-type="open" title="左侧收缩">
				<em class="icon icon-arrows"></em>
			</a>
		</div>
		<!-- } 收缩栏 -->
	</div>
	<!-- } left container -->
