<ul class="tabs-list clearfix">
    <?php if($this->flag==0) {foreach($this->second_menu as $list){?>
    <li><a href="<?php echo $list['url'];?>" <?php if($list['id']==$this->menu_id ){ ?>class="on"<?php } ?>><?php echo $list['menu_name'];?></a></li>
    <?php } }else{ foreach($this->second_menu[$on_key]['child'] as $list){ ?>
    <li><a href="<?php echo '/'.$this->module.'/'.$list['controller'].'/'.$list['action'];?>" <?php if($list['id']==$this->cur_menu_id || $list['id']==$this->p_menu_id){ ?>class="on"<?php } ?>><?php echo $list['menu_name'];?></a></li>
    <?php } }?>
</ul>
