<?php
	include($this->_base_name . '/inc/framework_header.html');
?>


<!-- 面包屑 { -->
<?php
	include($this->_base_name . '/inc/crumbs.html');
?>
<!-- } 面包屑 -->


<!-- right container { -->
<div class="right-container" id="J_container_right">
    <div class="container">
        <!-- 2级菜单 { -->
        <div class="nav-wrap">
            <ul class="nav-lists clearfix">
                <li><a href="/manage/about/about_list/">所有栏目</a></li>
                <li><a href="/manage/article/index/" class="on">二级栏目</a></li>
            </ul>
            <div id="navLine" class="nav-line"></div>
        </div>
        <!-- } 2级菜单 -->

        <!-- 3级菜单 { -->
        <div class="tabs-wrap" style="height:40px;">
            <i class="tabs-line"></i>
            <ul class="tabs-list clearfix">
                <li><a href="/manage/article/index/">栏目列表</a></li>
                <li><a href="/manage/article/category/" class="on">分类管理</a></li>
            </ul>

            <div class="right-btns">
                <a href="/manage/article/category_ae" class="button button-blue">添加分类</a>
            </div>
        </div>
        <!-- } 3级菜单 -->

        <!-- forms { -->
        <!--<form class="pt10 pb10 clearfix" method="get" action="" id="search_form">-->
        <!--<div class="fl col-label px-w-60 lh-32">画册标题</div>-->
        <!--<div class="fl px-w-200">-->
        <!--<input type="text" class="fl input px-w-150" value="" name="brochure_title">-->
        <!--</div>-->

        <!--<div class="fl px-w-30">-->
        <!--<a href="javascript:document:search_form.submit();" class="button button-blue ml20">搜索</a>-->
        <!--</div>-->
        <!--</form>-->
        <!-- } forms -->

        <!-- table { -->
        <div class="table-container pt-w-100">
            <div class="table-head">
                <div class="row clearfix">
                    <div class="col pt-w-15 tc">分类编号</div>
                    <div class="col pt-w-30">分类标题</div>
                    <div class="col pt-w-15 tc">模版</div>
                    <div class="col pt-w-20 tc">排序</div>
                    <div class="col pt-w-20 tc">操作</div>
                </div>
            </div>
            <div class="table-body">
                <?php foreach($this->category_list as $list){ ?>
                <div class="row clearfix">
                    <div class="col pt-w-15 tc"><?php echo $list['article_category_id'];?></div>
                    <div class="col pt-w-30"><?php echo $list['title'];?></div>
                    <div class="col pt-w-15 tc"><img src="/img/template_article<?php echo $list['template'];?>.jpg" alt="" width="35" height="45"></div>
                    <div class="col pt-w-20 tc"><?php echo $list['sort_id'];?></div>
                    <div class="col pt-w-20 tc">
                        <a href="/manage/article/category_ae?article_category_id=<?php echo $list['article_category_id']; ?>" class="button button-blue">编辑</a>
                        <a href="/manage/article/category_del?article_category_id=<?php echo $list['article_category_id']; ?>" class="button button-gray" onclick="return confirm('确认删除？');">删除</a>
                    </div>
                </div>
                <?php } ?>
            </div>
        </div>
        <!-- } table -->

    </div>
</div>
<!-- } right container -->


<?php
	include($this->_base_name . '/inc/framework_footer.html');
?>
