<?php
	include($this->_base_name . '/inc/framework_header.html');
?>


<!-- 面包屑 { -->
<?php
	include($this->_base_name . '/inc/crumbs.html');
?>
<!-- } 面包屑 -->


<!-- right container { -->
<div class="right-container" id="J_container_right">
    <div class="container">
  
				<!-- 横向菜单 { -->
				<?php
					 $nav['btns'] = array('<a href="/manage/datadownload/data_add" class="button button-blue">添加</a>');
						 include($this->_base_name . '/inc/cross_menu.html');
				?>
				<!-- } 横向菜单 -->

        <!-- forms { -->
        <form class="pt10 pb10 clearfix" method="get" action="" id="search_form">
            <div class="fl col-label px-w-60 lh-32">下载标题</div>
            <div class="fl px-w-200">
                <input type="text" class="fl input px-w-150" value="<?php echo $this->param['data_title'];?>" name="data_title">
            </div>

            <div class="fl px-w-30">
                <a href="javascript:document:search_form.submit();" class="button button-blue ml20">搜索</a>
            </div>
        </form>
        <!-- } forms -->

        <!-- table { -->
        <div class="table-container pt-w-100">
            <div class="table-head">
                <div class="row clearfix">
                    <div class="col pt-w-30 tc">资料标题</div>
                    <div class="col pt-w-15 tc">资料图片</div>
                    <div class="col pt-w-15 tc">资料格式</div>
                    <div class="col pt-w-15 tc">资料来源</div>
                    <div class="col pt-w-15 tc">排序</div>
                    <div class="col pt-w-10 tc">操作</div>
                </div>
            </div>
            <div class="table-body">
                <?php foreach($this->data_list as $list){ ?>
                <div class="row clearfix">
                    <div class="col pt-w-30 tc"><?php echo $list['data_title'];?></div>
                    <div class="col pt-w-15 tc"><?php if($list['data_img']) { ?><a href="<?php echo $list['data_img'];?>" target="_blank"><img src="<?php echo $list['data_img'];?>" style="height:40px;"></a> <?php } ?></div>
                    <div class="col pt-w-15 tc"><?php echo $list['data_format'];?></div>
                    <div class="col pt-w-15 tc"><?php echo $list['data_source'];?></div>
                    <div class="col pt-w-15 tc"><?php echo $list['sort_id'];?></div>
                    <div class="col pt-w-10 tc">
                        <a href="/manage/datadownload/data_edit?data_id=<?php echo $list['data_id']; ?>" class="button button-blue">编辑</a>
                        <a href="/manage/datadownload/data_del?data_id=<?php echo $list['data_id']; ?>" class="button button-gray" onclick="return confirm('确认删除？');">删除</a>
                    </div>
                </div>
                <?php } ?>
            </div>
        </div>
        <!-- } table -->

        <!-- 分页 { -->
        <div class="page">
            <div class="page-view">
                <?php echo $this->page; ?>
            </div>
        </div>
        <!-- } 分页 -->

    </div>
</div>
<!-- } right container -->


<?php
	include($this->_base_name . '/inc/framework_footer.html');
?>
