<div class="tabs-wrap">
    <i class="tabs-line"></i>
    <ul class="tabs-list clearfix">
        <li><a href="/manage/webset/system?set=base" <?php if($this->on=='base') echo 'class="on"';?>>基本设置</a></li>
        <li><a href="/manage/webset/system?set=secure" <?php if($this->on=='secure') echo 'class="on"';?>>安全设置</a></li>
        <li><a href="/manage/webset/system?set=email"<?php if($this->on=='email') echo 'class="on"';?>>邮件设置</a></li>
        <li><a href="/manage/webset/system?set=baidumap"<?php if($this->on=='baidumap') echo 'class="on"';?>>地图设置</a></li>
        <li><a href="/manage/webset/system?set=qiniu"<?php if($this->on=='qiniu') echo 'class="on"';?>>七牛云设置</a></li>
    </ul>
</div>