<?php
	include($this->_base_name . '/inc/framework_header.html');
?>


	<!-- 面包屑 { -->
	<div class="page-location" id="J_container_location">
		<ul class="page-list clearfix">
			<li><a href="/">管理首页</a></li>
			<li><a href="javascript:;">设置</a></li>
			<li><a href="/manage/set/basic">菜单设置</a></li>
		</ul>
	</div>
	<!-- } 面包屑 -->


	<!-- right container { -->
	<div class="right-container" id="J_container_right">
		<div class="container">
			<p>111</p>
		</div>
	</div>
	<!-- } right container -->

<!-- table { -->
<div class="table_container pt-w-100">
    <div class="table_head">
        <div class="row clearfix">
            <div class="col pt-w-10 tc">区域</div>
            <div class="col pt-w-20 tc">站点名称</div>
            <div class="col pt-w-60 tc">数据</div>
            <div class="col pt-w-10 tc">接收时间</div>
        </div>
    </div>
    <div class="table_body">
        <div class="row clearfix">
            <div class="col pt-w-10 lh-93 tc">{{ item.area }}</div>
            <div class="col pt-w-20 lh-93 tc">{{ item.name }}</div>
            <div class="col pt-w-60 tc p5">
                <table class="item_table">
                    <tr class="tr_header">
                        <td class="tc">{{ data.name }}</td>
                        <td class="tc">{{ data.name }}</td>
                    </tr>
                    <tr class="td_body">
                        <td class="tc">{{ data.value }}</td>
                        <td class="tc">{{ data.value }}</td>
                    </tr>
                </table>
            </div>
            <div class="col pt-w-10 lh-93 tc">{{ item.rec_datetime }}</div>
        </div>
        <div class="row clearfix">
            <div class="col pt-w-10 tc">{{ item.area }}</div>
            <div class="col pt-w-20 tc">{{ item.name }}</div>
            <div class="col pt-w-60 tc">{{ item.data }}</div>
            <div class="col pt-w-10 tc">{{ item.rec_datetime }}</div>
        </div>
        <div class="row clearfix">
            <div class="col pt-w-10 tc">{{ item.area }}</div>
            <div class="col pt-w-20 tc">{{ item.name }}</div>
            <div class="col pt-w-60 tc">{{ item.data }}</div>
            <div class="col pt-w-10 tc">{{ item.rec_datetime }}</div>
        </div>
    </div>
</div>
<!-- } table -->

<!-- 分页 { -->
<div class="page">
    <div class="page_view">
        <a href="javascript:;">首页</a>
        <span class="disabled">上一页</span>
        <span>1</span>
        <a href="javascript:;">2</a>
        <a href="javascript:;">下一页</a>
        <a href="javascript:;">尾页</a>
    </div>
</div>
<!-- } 分页 -->

<?php
	include($this->_base_name . '/inc/framework_footer.html');
?>