<?php
	include($this->_base_name . '/inc/framework_header.html');
?>


<!-- 面包屑 { -->
<?php
	include($this->_base_name . '/inc/crumbs.html');
?>
<!-- } 面包屑 -->


<!-- right container { -->
<div class="right-container" id="J_container_right">
    <div class="container">
        <!-- 2级菜单 { -->
        <div class="nav-wrap">
            <ul class="nav-lists clearfix">
                <li><a href="">基本设置</a></li>
                <li><a href="/manage/set/index/" class="on">站点设置</a></li>
                <li><a href="/manage/ad/ad_list/">广告位设置</a></li>
                <li><a href="/manage/subscription/subscription_list/">邮件订阅</a></li>
                <li><a href="/manage/set/menu_list/">菜单设置</a></li>
            </ul>
            <div id="navLine" class="nav-line"></div>
        </div>
        <!-- } 2级菜单 -->

        <!-- 3级菜单 { -->
        <div class="tabs-wrap" style="height:40px;">
            <i class="tabs-line"></i>
            <ul class="tabs-list clearfix">
                <li><a href="/manage/news/news_list/" class="on">基本设置</a></li>
                <li><a href="/manage/news/cate_list/">顶部设置</a></li>
                <li><a href="/manage/news/cate_list/">底部设置</a></li>
                <li><a href="/manage/news/cate_list/">内页设置</a></li>
                <li><a href="/manage/news/cate_list/">SEO设置</a></li>
            </ul>
        </div>
        <!-- } 3级菜单 -->
        <!-- forms { -->
        <form class="forms" method="post" action="" id="form_sub">
            <!--<div class="forms">-->

            <div class="row clearfix">
                <div class="fl col-label pt-w-15">网站logo</div>
                <div class="fl pt-w-85"><input name="logo" type="text" id="news_img" size="50" class="input px-w-300"
                                               value="<?php echo $this->param['logo'];?>"/> <br/>

                    <iframe src="/manage/upload/index/?backinput=news_img&backview=view_news_img" frameborder="0"
                            style="width: 100%; height: 70px;" scrolling="no"></iframe>
                    <br/>

                    <div class="view_img">
                        <img src="<?php if($this->param['logo']) {echo DOMAIN_IMG.$this->param['logo'];}
                        else { echo $this->yulan_jpg; }?>" id="view_news_img" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="fl col-label pt-w-15">网站slogan</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-200" name="slogan"
                                               value="<?php echo $this->param['slogan']; ?>"></div>
            </div>

            <div class="row clearfix">
                <div class="fl col-label pt-w-15">顶部快捷链接</div>
                <div class="fl pt-w-85">
                    <input type="text" class="input px-w-100" name="header_quick_title" value="<?php echo $this->param['header_quick_title'];?>">
                    <input type="text" class="ml10 input px-w-200" name="header_quick_link" value="<?php echo $this->param['header_quick_link'];?>">
                  </div>
            </div>

            <div class="row clearfix">
                <div class="fl col-label pt-w-15">首页标题</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-200" name="home_title"
                                               value="<?php echo $this->param['home_title']; ?>"></div>
            </div>
            <div class="row clearfix">
                <div class="fl col-label pt-w-15">首页关键字</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-200" name="home_keywords"
                                               value="<?php echo $this->param['home_keywords']; ?>"></div>
            </div>
            <div class="row clearfix">
                <div class="fl col-label pt-w-15">首页描述</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-200" name="home_description"
                                               value="<?php echo $this->param['home_description']; ?>"></div>
            </div>

            <div class="row clearfix">
                <div class="fl col-label pt-w-15">通用标题</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-200" name="common_title"
                                               value="<?php echo $this->param['common_title']; ?>"></div>
            </div>
            <div class="row clearfix">
                <div class="fl col-label pt-w-15">通用关键字</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-200" name="common_keywords"
                                               value="<?php echo $this->param['common_keywords']; ?>"></div>
            </div>
            <div class="row clearfix">
                <div class="fl col-label pt-w-15">通用描述</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-200" name="common_description"
                                               value="<?php echo $this->param['common_description']; ?>"></div>
            </div>
            <div class="row clearfix content_show">
                <div class="fl col-label pt-w-15">首页内容编辑</div>
                <div class="fl pt-w-84"><textarea name="content"
                                                  style="width:100%;height:500px;visibility:hidden;"><?php echo $this->
                    param['home_desc'];?></textarea></div>
            </div>

            <div class="row clearfix">
                <div class="fl col-label pt-w-15">首页资料下载个数</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-200" name="home_data_count"
                                               value="<?php echo $this->param['home_data_count']; ?>"></div>
            </div>

            <div class="row clearfix">
                <div class="fl col-label pt-w-15">首页现场活动个数</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-200" name="home_activity_count"
                                               value="<?php echo $this->param['home_activity_count']; ?>"></div>
            </div>
            <div class="row clearfix">
                <div class="fl col-label pt-w-15">首页展会新闻个数</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-200" name="home_news_count"
                                               value="<?php echo $this->param['home_news_count']; ?>"></div>
            </div>
            <div class="row clearfix">
                <div class="fl col-label pt-w-15">首页现场活动右侧广告位图片</div>
                <div class="fl pt-w-85"><input name="pic" type="text" id="ad_img" size="50" class="input px-w-300"
                                               value="<?php echo $this->param['home_ad_img'];?>"/> <br/>

                    <iframe src="/manage/upload/index/?backinput=ad_img&backview=view_ad_img" frameborder="0"
                            style="width: 100%; height: 70px;" scrolling="no"></iframe>
                    <br/>

                    <div class="view_img">
                        <img src="<?php if($this->param['home_ad_img']) {echo DOMAIN_IMG.$this->param['home_ad_img'];}
                        else { echo $this->yulan_jpg; }?>" id="view_ad_img" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="fl col-label pt-w-15">首页现场活动右侧广告位标题</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-200" name="home_ad_title"
                                               value="<?php echo $this->param['home_ad_title']; ?>"></div>
            </div>
            <div class="row clearfix">
                <div class="fl col-label pt-w-15">首页现场活动右侧广告位链接</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-200" name="home_ad_link"
                                               value="<?php echo $this->param['home_ad_link']; ?>"></div>
            </div>

            <div class="row clearfix">
                <div class="fl col-label pt-w-15">版权</div>
                <div class="fl pt-w-85"><input type="text" class="input px-w-200" name="copyright"
                                               value="<?php echo $this->param['copyright']; ?>"></div>
            </div>


            <div class="row clearfix">
                <div class="fl col-label pt-w-15">&nbsp;</div>
                <div class="fl pt-w-85">
                    <input type="submit" class="button button-blue" value="提交">
                    <input type="button" class="button button-gray" value="取消" onclick="javascript:history.back(-1)">
                </div>
            </div>
            <!--</div>-->
        </form>
        <!-- } forms -->


    </div>
</div>
<!-- } right container -->
<link rel="stylesheet" href="/manage/src/kindeditor/themes/default/default.css"/>
<link rel="stylesheet" href="/manage/src/kindeditor/plugins/code/prettify.css"/>
<script charset="utf-8" src="/manage/src/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/manage/src/kindeditor/lang/zh_CN.js"></script>
<script charset="utf-8" src="/manage/src/kindeditor/plugins/code/prettify.js"></script>
<script>
    KindEditor.ready(function (K) {
        var editor1 = K.create('textarea[name="content"]', {
            cssPath: '/manage/src/kindeditor/plugins/code/prettify.css',
            uploadJson: '/manage/src/kindeditor/php/upload_json.php',
            fileManagerJson: '/manage/src/kindeditor/php/file_manager_json.php',
            allowFileManager: true,
            afterCreate: function () {
                var self = this;
                K.ctrl(document, 13, function () {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function () {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
            }
        });
        prettyPrint();
    });
</script>

<?php
	include($this->_base_name . '/inc/framework_footer.html');
?>
